/** VARIABLES **/
@font-face {
	font-family: 'Beatrice Deck Trial';
	src: url('/fonts/BeatriceDeck-Regular.woff2') format('woff2'), url('/fonts/BeatriceDeck-Regular.woff') format('woff');
	font-weight: 400; /* Regular */
	font-display: swap;
}

@font-face {
	font-family: 'Beatrice Deck Trial';
	src: url('/fonts/BeatriceDeck-Bold.woff2') format('woff2'), url('/fonts/BeatriceDeck-Bold.woff') format('woff');
	font-weight: 900; /* Bold */
	font-display: swap;
}

$font: 'Beatrice Deck Trial';
