#pc-wrap {
	.cs-page {
		position: relative;
		padding: 100px 0px 60px;
		width: 100%;
		height: auto;
		.container {
			display: flex;
			flex-direction: column;
			.cs-main-info {
				display: flex;
				flex-direction: column;
				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					span {
						color: #000;
						font-family: $font;
						font-size: 35px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						letter-spacing: 0.525px;
					}
					p {
						color: #757575;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
				.btns {
					margin-top: 50px;
					display: flex;
					flex-direction: row;
					justify-content: center;
					:first-child {
						border-radius: 4px 0 0 4px;
					}
					:last-child {
						border-radius: 0 4px 4px 0;
					}
					div {
						width: 204px;
						height: 46px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid #eee;
						cursor: pointer;
						color: #bdbdbd;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						letter-spacing: 0.42px;
						&.active {
							border: 1px solid #969696;
							background: grey;
							color: #fff;
						}
					}
				}
			}
			.cs-content {
				margin-top: 25px;
				display: flex;
				flex-direction: column;
				.title {
					margin-bottom: 25px;
					color: #000;
					font-family: $font;
					font-size: 27px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 0.54px;
				}
				.pagination {
					margin-top: 50px;
					display: flex;
					flex-direction: row;
					justify-content: center;
				}
				.notice-content {
					.main {
						border: 1px solid #eee;
						.top {
							padding: 25px 33px;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							span {
								color: #000;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-transform: capitalize;
							}
						}
						.bottom {
							display: flex;
							flex-direction: column;
							.notice-card {
								padding: 20px 14px 20px 30px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								border: 1px solid #eee;
								&.event {
									background: #b7b7b7;
								}
								div {
									padding: 6px 9px;
									border-radius: 12px;
									border: 1px solid white;
									color: white;
									font-family: $font;
									font-size: 12px;
									font-style: normal;
									font-weight: 400;
								}
								.notice-number {
									margin-left: 18px;
									width: 39px;
									color: #000;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
								.notice-title {
									width: 1060px;
									color: #000;
									font-family: $font;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
								.notice-date {
									color: #000;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}
				}
				.faq-content {
					margin-top: 25px;
					display: flex;
					flex-direction: column;
					.categories {
						display: flex;
						flex-direction: row;
						justify-content: center;
						div {
							width: 14%;
							height: 40px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: #bdbdbd;
							text-align: center;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							letter-spacing: -0.225px;
							cursor: pointer;
							&.active {
								border-bottom: 1px solid #b9b9b9;
								color: grey;
							}
						}
					}
					.wrap {
						margin-top: 50px;
						.MuiAccordionDetails-root {
							padding: 30px 20px;
							background: #fafafa;
						}
						.badge {
							margin: 0 24px;
							display: inline-block;
							padding: 4px 10px;
							border: 1px solid #6a6a6a;
							border-radius: 7px;
							color: #7c7c7c;
						}
						.question {
							.badge {
								background: #929292;
								color: #fff;
							}
						}
						.answer {
							margin-left: 80px;
							display: flex;
							white-space: nowrap;
							align-items: center;
							flex-direction: row;
							.badge {
								color: #9f9f9f;
								border: 1px solid #9e9e9e;
							}
						}
					}
				}
			}
		}
	}
}

#mobile-wrap {
	.cs-page-mobile {
		position: relative;
		padding: 100px 0px 60px;
		width: 100%;
		height: auto;
		.container {
			display: flex;
			flex-direction: column;
			.cs-main-info {
				display: flex;
				flex-direction: column;
				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					span {
						color: #000;
						font-family: $font;
						font-size: 35px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						letter-spacing: 0.525px;
					}
					p {
						color: #757575;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
				.btns {
					margin-top: 50px;
					display: flex;
					flex-direction: row;
					justify-content: center;
					:first-child {
						border-radius: 4px 0 0 4px;
					}
					:last-child {
						border-radius: 0 4px 4px 0;
					}
					div {
						width: 204px;
						height: 46px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid #eee;
						cursor: pointer;
						color: #bdbdbd;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						letter-spacing: 0.42px;
						&.active {
							border: 1px solid #969696;
							background: grey;
							color: #fff;
						}
					}
				}
			}
			.cs-content {
				margin-top: 25px;
				display: flex;
				flex-direction: column;
				.title {
					margin-bottom: 25px;
					color: #000;
					font-family: $font;
					font-size: 27px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 0.54px;
				}
				.pagination {
					margin-top: 50px;
					display: flex;
					flex-direction: row;
					justify-content: center;
				}
				.notice-content-mobile {
					.main {
						border: 1px solid #eee;
						.top {
							padding: 25px 33px;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							span {
								color: #000;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-transform: capitalize;
							}
						}
						.bottom {
							display: flex;
							flex-direction: column;
							.notice-card {
								padding: 20px 5px 20px 10px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								border: 1px solid #eee;
								&.event {
									background: #b7b7b7;
								}
								div {
									padding: 6px 9px;
									border-radius: 12px;
									border: 1px solid white;
									color: white;
									font-family: $font;
									font-size: 12px;
									font-style: normal;
									font-weight: 400;
									margin-right: 10px;
									align-self: center;
								}
								.notice-number {
									align-self: center;
									margin-left: 18px;
									width: 180px;
									color: #000;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
								.notice-title {
									width: 1060px;
									color: #000;
									font-family: $font;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
								.notice-date {
									color: #000;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}
				}
				.faq-content-mobile {
					margin-top: 25px;
					display: flex;
					flex-direction: column;
					.categories {
						display: flex;
						flex-direction: row;
						justify-content: center;
						div {
							width: 14%;
							height: 40px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: #bdbdbd;
							text-align: center;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							letter-spacing: -0.225px;
							cursor: pointer;
							&.active {
								border-bottom: 1px solid #b9b9b9;
								color: grey;
							}
						}
					}
					.wrap {
						margin-top: 50px;
						.MuiAccordionDetails-root {
							padding: 30px 20px;
							background: #fafafa;
						}
						.badge {
							margin: 0 24px;
							display: inline-block;
							padding: 4px 10px;
							border: 1px solid #6a6a6a;
							border-radius: 7px;
							color: #7c7c7c;
						}
						.question {
							display: flex;
							padding: 0;
							.badge {
								margin: 5px;
								align-self: center;
								background: #929292;
								color: #fff;
							}
						}
						.answer {
							margin-left: 80px;
							display: flex;
							white-space: nowrap;
							align-items: center;
							flex-direction: row;
							.badge {
								color: #9f9f9f;
								border: 1px solid #9e9e9e;
							}
						}
					}
				}
			}
		}
	}
}
